{% extends "website/base.html" %}
{% load sameastags %}

{% block title %}Sponsors{% endblock %}

{% block content %}
<h1>{% sameas title %}</h1>

<a name="jetbrains"></a><h2 class="nocaps">JetBrains</h2>
<div class="spon-logo"><a href="https://www.jetbrains.com/"><img src="/static/website/jetbrains.png" alt="JetBrains Logo" width="250" height="271" /></a></div>
<div class="spon-text">JetBrains supports this project by providing PyCharm Professional licenses to the core developers under their <a href="https://www.jetbrains.com/buy/opensource/">support program for Open Source projects</a>.</div>

{% endblock %}
