body {
    font: 16px/1.5 'Roboto Slab', sans-serif;
    color: #444;
    width: 850px;
    margin: 30px auto 0;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: relative;
    margin: 50px 0 10px;
}

img.logo {
    float: left;
    margin: 50px 0 0 0;
}

div.content {
    overflow: auto;
}

h1 {
    font-size: 30px;
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

h2 {
    font-size: 26px;
    font-family: 'Convergence', sans-serif;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

h2.nocaps {
    text-transform: none;
}

h1.title {
    font-size: 72px;
    text-align: right;
    line-height: 1.25;
    color: #646464;
    text-transform: none;
    margin: 0;
}

h2.subtitle {
    font-size: 15px;
    text-align: right;
    color: #666666;
}

nav {
    position: absolute;
    top: -45px;
    right: 0;
}

nav li {
    float: left;
}

nav li a {
    margin: 0 10px;
}

nav li:last-child a {
    margin-right: 0;
}

.buttons {
    float: right;
}

pre {
    padding: 15px 20px;
    font-family: monaco, monospace;
    font-size: 14px;
    background: #eee;
}

strong {
    font-weight: bold;
}

footer {
    padding: 15px 0 20px;
    font-size: 14px;
    color: #999;
    border-top: 2px solid #ddd;
    margin-top: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.spon-logo {
    display: block;
    float: left;
    width: 250px;
}

.spon-text {
    display: block;
    float: left;
    padding-left: 12px;
    width: 460px;
}
